<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/main.css">
    <title>DM's Bag of Holding</title>
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="#">NPC Generator</a>
            </li>
            <li>
                <a href="#">Player Tracker</a>
            </li>
            <li>
                <a href="#">Plot Hook Generator</a>
            </li>
            <li>
                <a href="#">Magic Item Generator</a>
            </li>
        </ul>
    </nav>
    <main>




    
