<%- include('./partials/header') %> 

<h1>Welcome to the DM's Bag of Holding!</h1>
<p>This site is filled with useful tools and generators to streamline everything about being a DM. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis maxime commodi sint. Deserunt rerum aperiam quis facere temporibus veritatis quo porro deleniti, reprehenderit, sequi, atque fuga praesentium ipsa ducimus dolorem aliquam expedita vitae beatae natus culpa quod suscipit est esse incidunt? Dolorum cum corporis eius, perferendis id nemo perspiciatis obcaecati?</p>

<%- include('./partials/footer') %> 